* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar {
    background:  black;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 8rem;
    padding: 20px 0px 0px 20px;
} 
.navbar li a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    list-style-type: none;
    font-size: 25px;
}
.navbar ul {
    position: absolute;
    right: 2rem;
    top: 3rem;
    
}
.navbar li {
    display: inline-block;
    padding-left: 15px;
    
}
ul li a:hover {
    color: brown;
    text-shadow: 1px 1px 1px white;
    transition: 0.5s;
    font-size: 28px;
}

.backgroundim {
    background: linear-gradient(to left, rgba(161, 64, 3, 0.9),rgba(255, 166, 110, 0.2)), url(./images/pexels-pixabay-209476.jpg);
    height: calc(100vh - 8rem);
    background-size: cover;
}
.text-withbackground {
    color: white;
    font-size: 30px;

}